
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

body{
    background-color: #183a4a;
    text-align: center;

}

#title{
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    margin: 50px auto;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.boxes .box{
    height: 110px;
    width: 110px;
    margin: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.box-null{
    background-color: #3d88ae;
}

.box-fizz{
    background-color: #0bd6a1;
}

.box-buzz{
    background-color: #ffd166;
}

.box-fizzbuzz{
    background-color: #f0466f;
}
